/** Canvas related styles | -> End **/
/*//////////////////////////////////////////////////*/

.canvas-container{
    background-color: #fff;
    height: 100%;
}

.ace_gutter-cell.ace_breakpoint{
    border-radius: 0 20px 20px 0;
    box-shadow: 0 0 1px 1px red inset;
}

header .brand h1 {
    font-size: 15px;
    text-transform: inherit;
}

.header {
    min-height: 30px;
}

header .brand {
    line-height: 30px;
    padding: 0 10px;
    vertical-align: middle;
    margin-right: 25px
}

.menu-bar {
    height: 30px;
}

.menu-group {
	line-height: 30px;
	font-size: 14px;
	padding: 0;
	min-height: initial;
}

.menu-bar .menu-group a:hover {
    background-color: #383838;
    color: #fff;
}

.menu-bar .menu-group a {
    transition: all 250ms ease 0s;
    line-height: 30px;
    padding: 0 8px;
    display: block;
}

.dropdown-menu {
    top: 94%;
}

.menu-group.open {
    background-color: #f17b31;
}

.menu-bar .menu-group.open a {
    color: #fff;
    font-weight: 300
}

.dropdown-menu {
    font-size: 14px;
    background: #333
}

.dropdown-menu > .menu-item-enabled > a {
    font-weight: 300;
}

.menu-bar .menu-group.open a:hover {
    background-color: #f17b31;
}

.menu-bar .menu-group .dropdown-menu > li > a:hover, .menu-bar .menu-group .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #f47b20;
    background-color: #000000;
}

.nav-tabs > li > a {
    font-size: 0.9em;
    padding: 1px 3px 0 10px;
}

.closeTab {
	margin: 0 0 0 15px;
	font-size: 18px
}