/** Canvas related styles | -> End **/
/*//////////////////////////////////////////////////*/

.canvas-container{
    background-color: #fff;
    height: 100%;
}

.ace_gutter-cell.ace_breakpoint{
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0px 0px 1px 1px red inset;
}