/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.main-menu {
    background: transparent url(../img/repeat.jpg) repeat-x;
}
.main-menu-inside{
    padding-right:0;
}
.main-menu-inside li{
    border-left: solid 1px #181b1e;
    border-right: solid 1px #444b55;
    text-align: center;
}
.main-menu li a{
    padding:6px 10px 0;
    height: 53px;
}
.main-menu li i{
    color:#898989;
    font-size: 18px;
}
.main-menu li.active i{
    color: #c10d14;
}
.breadcrumb-strip {
    background: #464646;
    border-top: solid 1px #606060;
    border-bottom: solid 1px #000;
}

.breadcrumb-strip ul.breadcrumb {
    background: transparent;
    margin: 0;
    padding-left: 0;
}

.breadcrumb-strip ul.breadcrumb a {
    color: #c29395;
    padding-left: 0;
}

.content-section{
    padding:20px 10px 10px 10px;
    min-height: 200px;
    background: #fff;
    border-top:solid 1px #c10d14;
    -webkit-box-shadow:  3px 3px 3px 3px rgba(0, 0, 0, 0.3);
            box-shadow:  3px 3px 3px 3px rgba(0, 0, 0, 0.3);
    margin-bottom:10px;
}
.content-section-wrapper{
    padding-left:30px;
    padding-right:30px;
}
.box-title{
    padding:10px;
    border:solid 1px #a2a2a2;
    background: rgb(230,230,230); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZWZlZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(230,230,230,1) 0%, rgba(254,254,254,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,230,230,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(230,230,230,1) 0%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(230,230,230,1) 0%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(230,230,230,1) 0%,rgba(254,254,254,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(230,230,230,1) 0%,rgba(254,254,254,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#fefefe',GradientType=0 ); /* IE6-8 */

    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    min-height: 30px;
    -webkit-box-shadow:  3px 3px 3px 3px rgba(0, 0, 0, 0.3);
                box-shadow:  3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.box-content{
    border-left:solid 1px #a2a2a2;
    border-right:solid 1px #a2a2a2;
    border-bottom:solid 1px #a2a2a2;
    min-height: 188px;
    padding:10px;
    background: #fff;
    -webkit-box-shadow:  3px 3px 3px 3px rgba(0, 0, 0, 0.3);
             box-shadow:  3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}
div.with-no-space{
    padding: 0;
}
.box-title h3{
    margin:0;
    padding:0;
    font-size:14px;
    font-weight: bold;
    color:#666;
}
.content-starter{
    margin-top:30px;
}
h1{
    color:#666;
    font-family: 'Open Sans', sans-serif;
}
div.icon-marketing-styles {
    color: #fff;
    font-size: 60px;
    padding: 20px;
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 1px solid #4C799E;
    text-align: center;
    width: 100px;
    margin: 0 10px 10px 0;
    float: left;
}
div.icon-search-dashboard{
    background: #6babde;
    border: 1px solid #6babde;
}

div.second-row-gap{
    margin-top:30px;
}
/* Sticky footer styles
     -------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
    background: transparent url(../img/background.png) repeat;
}
form,input,label,div{
    font-size: 12px;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 62px;
}

#footer {
    padding-top:10px;
    border-top:solid 1px #ccc;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 1200px) {
    div.main-menu-inside a span{
        display: none;
    }
}
@media (max-width: 767px) {
    .container{min-width: 480px;}
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .menu1{
        position: absolute;
        right:22px;
        margin-top: 35px;
        background: #ccc;
        border-bottom:solid 1px #444;
    }
    .menu2{
        position: absolute;
        right: 10px;
        margin:0;
        z-index: 100;
    }
    .main-menu  ul.menu2 li a{
        height:35px;
    }
    .form-horizontal .control-label{
        width:auto;
        text-align: left;
        float: none;
    }
    .form-horizontal .controls{
        margin-left: 0;
        float: none;
    }

}
@media (max-width: 992px) {
    .box-content{
            margin-bottom: 10px;
        }
}
input[type="text"],input[type="password"]{
    height:30px;
}
.required{
    color:red;
}
label.error{
    color:red;
    padding:5px 0 0 0;
}
input.error{

}
a{
    cursor: pointer;
}
form.margin-remover{margin:0}
.header-form input.search-query{
    height: 20px;
    font-size: 11px;
    color:#fff;
    background: #464646;
    border-color: #ccc;
    margin-top:7px;
}
.datetimepicker span.add-on{
    height: 30px;
    cursor: pointer;
}
.datetimepicker span.add-on i{
    height: 30px;
}
.bootstrap-datetimepicker-widget ul{
    padding:10px;
}
.page-main-details{
    background: #3b6371;
    color:#fff;
    padding:20px 10px 10px;
}
.page-main-details label{
    margin-right: 40px;
}
.navbar-brand{
    width:350px;
}
.special-login-section-wrapper{
    background: #8a2529;
    color:#fff;
    padding:0;
    min-height: 250px;
}
.special-login-section{
    background: #fff;
    min-height: 320px;
    padding: 20px;
    color:#444;
}
.icon-section i{
    font-size: 40px;
    color:#898989;
}
.icon-section{
    background: #222222;
    min-height: 320px;
}
.big-link, .big-link:hover{
    color: #efaa97;
    font-size: 18px;
}
.promotion-section div.row{
    padding-top: 20px;
    border-bottom: solid 1px #671c1f;
    border-top: solid 1px #b13035;
}
.icon-section{
    background: #222222;
}
.icon-section a:hover{
    text-decoration: none;
}
.btn-primary{
    background-color: hsl(0, 0%, 16%) !important;
     background-repeat: repeat-x;
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5b5b5b", endColorstr="#282828");
     background-image: -khtml-gradient(linear, left top, left bottom, from(#5b5b5b), to(#282828));
     background-image: -moz-linear-gradient(top, #5b5b5b, #282828);
     background-image: -ms-linear-gradient(top, #5b5b5b, #282828);
     background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b5b5b), color-stop(100%, #282828));
     background-image: -webkit-linear-gradient(top, #5b5b5b, #282828);
     background-image: -o-linear-gradient(top, #5b5b5b, #282828);
     background-image: linear-gradient(#5b5b5b, #282828);
     border-color: #282828 #282828 hsl(0, 0%, 11%);
     color: #fff !important;
     text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
     -webkit-font-smoothing: antialiased;
}
.dropdown-menu li a{
    color:#fff;
    text-align: left;
    height: 30px;
}
.dropdown-menu{
    background: #000;
}
.dropdown-menu li a:hover{
    background: #b13035;
}
iframe{
    width:100%;
    height: 100%;
    border: none;
    border-top: solid 1px #ccc;
    background: #373737;
    font-size: 11px;
}
/* Style for dashboards */
.gadget-small{
    height:360px;
    width: 100%;
    padding: 0;

}
.row-fluid .span4{
    width:48%;
}
.hero-unit{
    padding: 0;
    background: #393939;

}
.single-column-gadget,.bottom-row-single-column-gadget{
    width: 100%;
    min-height: 420px;
    border: none;
}
.hero-unit .jqplot-table-legend{
    color: #eee;
}
.ui-widget-content{
    color: #ddd;
}
.topFilteringPanel{
    text-align: left;
    overflow: hidden;
}
a.wso2 {
    background: url("../images/wso2.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 17px;
    width: 70px;
}
a.wso2:hover{
    background-position: 0 -18px;
}
.wso2Logo_footer{
    float: right;
}
.wso2copyRight_footer{float: left;}
.plain{margin: 0!important;}
.filter-btn{
    width: 66px;
    float: right;
}
.timely-dd-btns{
    float: right;
}
.timelySwitch{}
div.jqplot-table-legend-swatch{
    border-style: solid;
    border-width: 5px 6px;
    height: 0;
    width: 0;
    outline: 1px solid #C4C4C4;
}
div.jqplot-table-legend-swatch-outline{
    border: none;
}
.span3 select{
    max-width: 180px;
}
