
   <div class="row">
        <div id="a" class="col-md-4 ues-component-box"></div>
        <div id="b" class="col-md-4 ues-component-box"></div>
        <div id="c" class="col-md-4 ues-component-box"></div>
    </div>
    <div class="row">
        <div id="d" class="col-md-10 ues-component-box"></div>
        <div id="e" class="col-md-2 ues-component-box"></div>
    </div>
    <div class="row">
        <div id="f" class="col-md-4 ues-component-box"></div>
        <div id="g" class="col-md-4 ues-component-box"></div>
 	<div id="h" class="col-md-4 ues-component-box"></div>
    </div>

