<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Siddhi-Execution-Word-Test-Suite">
    <test name="Siddhi-execution-word-tests" enabled="true" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2.extension.siddhi.execution.word.function.TestCaseOfWordFunction"/>
        </classes>
    </test>
</suite>