<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{url "/"}}"><img src="{{url "/themes/theme1/ui/img/bam-logo.png"}}"/> <span>Message Console Dashboard</span></a>
    <ul class="nav navbar-nav navbar-left">
        {{#each links}}
        <li {{#if active}} class="active" {{/if}}>
        <a href="{{URL}}">{{link}}</a>
    </li>
    {{/each}}

</ul>
        </div>
        {{#unless isLogin}}
<div class="navbar-collapse collapse">

<ul class="nav navbar-nav navbar-right">
    <li>
        <!--<a href="#"><i class="icon-circle"></i> Connected to <strong>localhost:9160</strong> as <strong>John</strong></a>-->
        <a href="#"><i class="icon-circle"></i> Connected </a>
    </li>
    <!--<li>-->
    <!--<a href="./">Logout</a>-->
    <!--</li>-->

</ul>
</div><!--/.nav-collapse -->
        {{/unless}}
        </div>


<script>
$(document).ready(function() {
    $('a[href$="message-search.jag"]').click(function()
    {
        clearLocalStorage();
    });
});
function clearLocalStorage() {
    localStorage['message-search-fields'] = "";
    $('.search-if-row').remove();
};
</script>