<div class="container">

	<form class="form-horizontal " id="loginForm">
		<div class="row-fluid">
			<h1>Connect to Cluster</h1>

			<div id="generalError" class="span12 error" style="display: none;color:#FF0000;padding: 0px 0px 7px 0px;"></div>

			<input type="text" id="connectionURL" class="form-control required" placeholder="Connection URL (eg: localhost:9160)"/>

			<input type="text" id="username" class="form-control required" placeholder="Username"/>

			<input type="password" id="inputPassword" placeholder="Password" class="form-control required"/>
			<br><br>
			<button type="submit"  class="form-control btn btn-primary">
				Login
			</button>

		</div>
	</form>
</div>

<script>
	$(document).ready(function() {
		// validate the comment form when it is submitted
		$("#loginForm").validate({
			submitHandler : function() {
				validateLogin($('#connectionURL').val(), $('#username').val(), $('#inputPassword').val());
                localStorage['message-search-fields'] = "";
                $('.search-if-row').remove();
				return true;
			}
		});
	});
	function validateLogin(var1, var2, var3) {
		$.ajax({
			type : 'POST',
			url : 'login_validation.jag',
			data : {
				connectionURL : var1,
				username : var2,
				inputPassword : var3
			},
			success : function(data) {
				if (data == 'true') {
//					location.href = 'activity-search.jag';
					location.href = 'message-search.jag';
				} else {
					$('#generalError').html('* Connection Error. Please retry with correct connection details.').show();
					return false;
				}
			}
		});
	};
</script>

<style>
    #wrap {
        background: none;
        border: 0;
    }
</style>