<div class="container content-starter">
    <div class="row">
        <div class="col-lg-12">
            <h1><i class="icon-comments"></i> Search Messages</h1>
        </div>
    </div>
</div>
        <!--<form class="form-horizontal" id="queryForm" action="{{url "/messages.jag"}}" method="POST">-->
<form class="form-horizontal" id="queryForm">

<div class="container content-section-wrapper">
    <div class="row">
        <div class="col-lg-12 content-section">

            <div class="row">
                <div class="col-xs-4">
                    <label for="query">Message type *</label>
                    <select name="streamName" id="streamName" class="form-control">
                        <option selected="selected" disabled="disabled">Select a Stream</option>
                        {{#each streams}}
                        <option value="{{this.streamID}}">{{this.streamID}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="col-xs-4">
                    <label for="query">Status</label>
                    <select name="status" id="status" class="form-control">
                        <option selected="selected" disabled="disabled">Select a Status</option>
                        <option value="ALL">ALL</option>
                        <option value="fault">FAIL</option>
                        <option value="success">SUCCESS</option>
                    </select>
                </div>
                <div class="col-xs-4">
                    <label for="query">Max rows</label>
                    <input name="resultsSize" id="resultsSize" class="form-control" type="text" />
                </div>
            </div>
            <div class="row">

                <div class="col-xs-4">
                    <label for="query">Start time *</label>
                    <!--<input name="startTime" id="startTime" class="form-control" type="text" />-->
                    <div id="datetimepicker1" class="input-append datetimepicker">
                        <input data-format="MM/dd/yyyy HH:mm:ss PP" type="text" name="startTime" id="startTime" class="form-control">

                        <span class="add-on"> <i data-time-icon="icon-time" data-date-icon="icon-calendar"> </i> </span>
                        <div class="help-block">
                            MM/dd/yyyy HH:mm:ss PP
                        </div>

                    </div>
                </div>
                <div class="col-xs-4">
                    <label for="query">End time *</label>
                    <!--<input name="endTime" id="endTime" class="form-control" type="text" />-->
                    <div id="datetimepicker2" class="input-append datetimepicker">
                        <input data-format="MM/dd/yyyy HH:mm:ss PP" type="text" name="endTime" id="endTime" class="form-control">

                        <span class="add-on"> <i data-time-icon="icon-time" data-date-icon="icon-calendar"> </i> </span>
                        <div class="help-block">
                            MM/dd/yyyy HH:mm:ss PP
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" style="position: relative">
            <legend >Additional Conditions</legend>

            <button class="btn btn-mini" id="btn-clear" style="position: absolute;right: 14px;top:0px">Clear fields</button>


            </div>

    </div>



    <div class="row">
        <div class="col-lg-12">
            <!--<div class="row">-->
                <!--<div class="col-xs-2">-->
                    <!--<h3 class="search-field">IF</h3>-->
                <!--</div>-->
                <!--<div class="col-xs-4">-->

                    <!--<select name="property" id="property" class="sel-prop form-control inp-condition">-->

                    <!--</select>-->
                <!--</div>-->
                <!--<div class="col-xs-2">-->
                    <!--<select name="condition" id="condition" class="sel-cond form-control inp-condition">-->
                        <!--&lt;!&ndash;<option selected="selected" disabled="disabled">Select an Operation</option>&ndash;&gt;-->
                        <!--<option value="=">=</option>-->
                        <!--<option value=">">></option>-->
                        <!--<option value="<"><</option>-->
                        <!--<option value=">=">>=</option>-->
                        <!--<option value="<="><=</option>-->
                        <!--<option value="%">Contains</option>-->
                        <!--<option value="!">DoesNotContain</option>-->
                    <!--</select>-->

                <!--</div>-->
                <!--<div class="col-xs-4 col-remove-line">-->
                    <!--<input name="value" id="value" class="sel-val form-control inp-condition" type="text" />-->

                    <!--&lt;!&ndash;<a href="#" class="btn-remove-search-if">&ndash;&gt;-->
                                            <!--&lt;!&ndash;x&ndash;&gt;-->
                                        <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="#" class="btn-remove-search-if">&ndash;&gt;-->
                        <!--&lt;!&ndash;<i class="icon-remove"></i>&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->

                <!--</div>-->

            <!--</div>-->

            <div id="search-if-row-original" class="row">
                <div class="col-xs-2">
                    <select name="sel-op" class="sel-op form-control inp-condition">
                        <option value=" AND ">AND</option>
                        <option value=" OR ">OR</option>
                    </select>
                </div>
                <div class="col-xs-4">
                    <select name="sel-prop" class="sel-prop form-control inp-condition">
                    <!--<select class="sel-prop form-control inp-condition">-->
                        <!--<option>ERR application error code</option>-->
                    </select>
                </div>
                <div class="col-xs-2">
                    <select name="sel-cond" class="sel-cond form-control inp-condition">
                        <!--<option selected="selected" disabled="disabled">Select an Operation</option>-->
                        <option value="=">=</option>
                        <option value=">">></option>
                        <option value="<"><</option>
                        <option value=">=">>=</option>
                        <option value="<="><=</option>
                        <option value="%">Contains</option>
                        <option value="!">DoesNotContain</option>
                    </select>

                </div>
                <div class="col-xs-4 col-remove-line">
                    <input name="sel-val" class="sel-val form-control inp-condition" type="text" />
                    <a href="#" class="btn-remove-search-if">
                        <i class="icon-remove"></i>
                    </a>
                </div>

            </div>
            <div class="row new-search-row-cont">
                <div class="col-xs-12">
                    <button id="btn-new-search-row" type="button" class="btn">
                        <i class="icon-plus"></i> Add new condition
                    </button>
                </div>
            </div>
            <div class="row search-btn-cont">
                <div class="col-xs-9">

                </div>
                <div class="col-xs-3">


                    <button type="submit" class="btn btn-primary btn-lg pull-right">
                        <i class="icon-search"></i> Search Messages
                    </button>
                </div>
            </div>
            <br />
            <div id="generalError" class="error" style="color:#FF0000;display: none"></div>
        </div>
    </div>

</div>
</form>
<script>
$().ready(function() {
    // validate the comment form when it is submitted
    $("#queryForm").validate(
            {submitHandler:function(){

                var streamName =  $('#streamName').val();

                if($('#streamName').val() != 'ALL') {
                    var streamName =  $('#streamName').val();
                } else {
                    var streamName = '*';
                }

                var startTimeQuery = "";
                var endTimeQuery   = "";
                var queryPart1     = "";
                var DEFAULT_START_TIME  = "01/01/1970 00:00:00 AM";
                var DEFAULT_END_TIME    = "01/01/3000 00:00:00 AM";   
                if($('#startTime').val() != '') {
                    var startTimeQuery = '\'' + streamName + '\'.\'Timestamp\'>' +  $('#startTime').val();
                } else {
                    var startTimeQuery = '\'' + streamName + '\'.\'Timestamp\'>' +  DEFAULT_START_TIME;
                }

                if($('#endTime').val() != '') {
                    var endTimeQuery = '\'' + streamName + '\'.\'Timestamp\'<' +  $('#endTime').val();
                } else {
                    var endTimeQuery = '\'' + streamName + '\'.\'Timestamp\'<' +  DEFAULT_END_TIME;
                }

                if(startTimeQuery != '' && endTimeQuery != '') {
                    queryPart1 = startTimeQuery + ' AND ' + endTimeQuery;
                } else if(startTimeQuery != '') {
                    queryPart1 = startTimeQuery;
                } else if(endTimeQuery != '') {
                    queryPart1 = endTimeQuery;
                }

                var statusVal = $('#status').val();

                if(statusVal != null && statusVal != '' &&  statusVal != 'ALL') {
                    queryPart1= queryPart1 + ' AND ' +  '\'' + streamName + '\'.\'status\'=' +  statusVal;
                }

                var conditions = "";
                var conditionsTemp = "";
                var lastCondition = "";
                var inpCondition = $('.inp-condition');

                inpCondition = inpCondition.splice(0,inpCondition.length-4);

                $.each(inpCondition, function(i,elem){
                    conditions    = conditionsTemp;
                    lastCondition = $(elem).val();
                    conditionsTemp+= lastCondition;
                });

                if(!(lastCondition == ' AND ' || lastCondition == ' OR ')) {       //done because of a strange behavior
                    conditions = conditionsTemp;
                }

                if(conditions == '') {
                    var finalQ = queryPart1;
                } else {
                    if(queryPart1 != '') {
//                        var finalQ = queryPart1 + ' AND ' + conditions;
                        var finalQ = queryPart1 + conditions;
                    } else {
                        var finalQ = conditions;
                    }

                }

                var resultsCount = 100;

                if($('#resultsSize').val() != '') {
                    resultsCount= $('#resultsSize').val();
                }

                validateQuery(finalQ, resultsCount, "");
                return true;
            }}
    );
});
</script>
<script type="text/javascript">
$(function() {

    if(localStorage['message-search-fields'] && localStorage['message-search-fields'].length){
       var elements =  JSON.parse(localStorage['message-search-fields']);
        console.log(elements.fields);
        console.log(elements.fields.length);

        $.each(elements.fields, function(key, val){
           // var col1 = $('<select/>').addClass('sel-op form-control inp-condition');
          //  col1.append('<option selected>' +  elements.fields[key].op + '</option>');

            var str = elements.fields[key].prop;

            var strArray = str.split(/\'/g);
            //str = str.replace(/\'/g,'');

            var propSplit = strArray[strArray.length-2];
            //var propSplit =  str.substring(str.indexOf('.')+1, str.length);


            var col1 = '<option value="' + elements.fields[key].op + '" selected>' +  elements.fields[key].op + '</option>';

            var col2 = '<option value="'+  elements.fields[key].prop +'" selected>' +  propSplit  + '</option>';

            var col3 = '<option value="'  +  elements.fields[key].condVal + '" selected>' +  elements.fields[key].cond + '</option>';

            var col4 =  elements.fields[key].val;


            var row = $('#search-if-row-original');
            var affix = $('.content-section-wrapper.affix');
            var newRow = $('<div/>').addClass('row search-if-row').append(row.html());

//            newRow.css('margin-bottom', 10);
            newRow.find('.sel-op').append(col1);
            newRow.find('.sel-prop').append(col2);
            newRow.find('.sel-cond').append(col3);
            newRow.find('.sel-val').val(col4);
           /* newRow.find('.col-xs-2')[1].append(col3);
            newRow.find('.col-xs-4')[1].append(col4);*/
            row.before(newRow);

            appendProps(newRow.find('.sel-prop'));
            newRow.find('select').select2();

        });

        populateHiddenProps();

    }
    $('#datetimepicker1').datetimepicker({
        language : 'en',
        pick12HourFormat : true
    });
    $('#datetimepicker2').datetimepicker({
        language : 'en',
        pick12HourFormat : true
    });
});

//todo handle to submits in better way
function validateQuery(var1, var2, var3)
{
    $.ajax({
        type: 'POST',
        url: 'message_query_validation.jag',
//            data: {data:$('#queryForm').serialize()},
        data: {
            searchQuery:var1,resultsSize:var2,lastRowID:var3
        },
        success: function(data) {
            if(data=='true')
            {
                var fields = [];


                $('.search-if-row').each(function(){
                    var op = $(this).find('.sel-op').select2('val');
                    var prop = $(this).find('.sel-prop').select2('val');
                    var cond = $(this).find('.sel-cond option:selected').text();
                    var condVal = $(this).find('.sel-cond').select2('val');
                    var val = $(this).find('.sel-val').val();
                    var json = {op:op, prop:prop, cond:cond, val:val, condVal:condVal};

                    fields.push(json);
                });
                var elements = {fields : fields};

                localStorage['message-search-fields'] =  JSON.stringify(elements);
                location.href='messages.jag';
            }
            else
            {
                $('#generalError').html('* Query Validation Failed. Please make sure all mandatory properties are filled and search properties have been indexed.').show();
                return false;
            }
        }
    });
}
</script>