<div class="container content-starter">
    <div class="row">
        <div class="col-lg-12">
            <h1>Connect to Cluster</h1>
        </div>
    </div>
</div>
<div class="container content-section-wrapper">
<div class="row">
    <div class="col-lg-12 content-section">
        <form class="form-horizontal" id="loginForm">
            <div class="control-group">
                <div id="generalError" class="error" style="display: none;color:#FF0000;padding: 5px 5px 5px 216px;"></div>
            </div>
            <div class="control-group">
                <label class="control-label" for="connectionURL">Connection URL<br />(eg: localhost:9160)</label>

                <div class="controls">
                    <input type="text" id="connectionURL" class="required" placeholder="Connection URL"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="username">Username</label>

                <div class="controls">
                    <input type="text" id="username" class="required" placeholder="Username"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">Password</label>

                <div class="controls">
                    <input type="password" id="inputPassword" placeholder="Password" class="required"/>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit"  class="btn btn-primary">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>

<script>
$().ready(function () {
    // validate the comment form when it is submitted
    $("#loginForm").validate(
            {submitHandler:function(){

                validateLogin($('#connectionURL').val(),
                        $('#username').val(),
                        $('#inputPassword').val());

                return true;
            }}
    );
});
function validateLogin(var1, var2, var3)
{
    $.ajax({
        type: 'POST',
        url: 'login_validation.jag',
        data: {connectionURL: var1, username: var2, inputPassword: var3},
        success: function(data) {
            if(data=='true')
            {
                location.href='search.jag';
            }
            else
            {
                $('#generalError').html('* Connection Error. Please retry with correct connection details.').show();
                return false;
            }
        }
    });
};
</script>
