<div class="container content-starter">
    <div class="row">
        <div class="col-lg-12">
            <h1>Search Activities</h1>
        </div>
    </div>
</div>

<div class="container">
<div class="row">
    <div class="col-md-6">
        <div class="box-title"><h3>Simple Search</h3></div>
        <form  class="form-horizontal" id="queryForm2">
        <div class="box-content">
            <div class="icon-search icon-search-dashboard icon-marketing-styles pull-right"></div>
            <label>Message Status</label>
            <div class="selectSelection">
            <select id="status">
                <option selected="selected" disabled="disabled">Select a Status</option>
                <option value="fault">FAIL</option>
                <option value="success">SUCCESS</option>
            </select>
            </div>

            <label><br />Start Time</label>
            <div id="datetimepicker1" class="input-append datetimepicker">
                <input data-format="MM/dd/yyyy HH:mm:ss PP" type="text" id="startTime"></input>
                    <span class="add-on">
                      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                      </i>
                    </span>
                <div class="help-block">MM/dd/yyyy HH:mm:ss PP</div>

            </div>

            <label><br />End Time</label>
            <div id="datetimepicker2" class="input-append datetimepicker">
                <input data-format="MM/dd/yyyy HH:mm:ss PP" type="text" id="endTime"></input>
                    <span class="add-on">
                      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                      </i>
                    </span>
                <div class="help-block">MM/dd/yyyy HH:mm:ss PP</div>
            </div>
            <div class="vertical-spacer">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
            <br />
            <div id="generalError2" class="error" style="color:#FF0000;display: none"></div>
        </div>
        </form>
    </div>
    <div class="col-md-6">
        <div class="box-title"><h3>Advanced Search</h3></div>
        <form  class="form-horizontal" id="queryForm">
            <div class="box-content">
                <label for="query">Search Query</label>

                <textarea rows="4" cols="60" name="query" id="query" class="required input-xlarge" style="width: 500px; height: 100px; color:#003399"></textarea>

                <div class="vertical-spacer">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
                <br />
                <div id="generalError" class="error" style="color:#FF0000;display: none"></div>
            </div>
        </form>
    </div>
</div>

</div>


<script>
$().ready(function () {
//    validate the comment form when it is submitted
    $("#queryForm").validate(
            {submitHandler:function(){
                validateQuery($('#query').val());
                return true;
            }}
    );
    $("#queryForm2").validate(
            {submitHandler:function(){
                validateQuery2('*.status=' +    $('#status').val() + ' AND *.Timestamp>' +  $('#startTime').val() + ' AND *.Timestamp<' +  $('#endTime').val() );
                return true;
            }}
    );
});
function validateQuery(var1)
{
    $.ajax({
        type: 'POST',
        url: 'query_validation.jag',
        data: {query: var1},
        success: function(data) {
            if(data=='true')
            {
                location.href='activities.jag';
            }
            else
            {
                $('#generalError').html('* Query Validation Failed. Please check the query syntax and make sure all the search properties have been indexed.').show();
                return false;
            }
        }
    });
}
//todo handle to sumbits in better way
function validateQuery2(var1)
{
    $.ajax({
        type: 'POST',
        url: 'query_validation.jag',
        data: {query: var1},
        success: function(data) {
            if(data=='true')
            {
                location.href='activities.jag';
            }
            else
            {
                $('#generalError2').html('* Query Validation Failed. Please make sure that all properties are filled.').show();
                return false;
            }
        }
    });
}

$(function() {
    $('#datetimepicker1').datetimepicker({
        language: 'en',
        pick12HourFormat: true
    });
    $('#datetimepicker2').datetimepicker({
        language: 'en',
        pick12HourFormat: true
    });
});

</script>