  .dates-types {
	  padding: 0px;
	  margin: 0px;
	  height: 31px;
  }
  
  .dates-types li {
	  float: right;
  }
  
  .dates-types li a {
	  display: block;
	  height: 31px;
	  cursor: pointer;
	  line-height: 31px;
	  color: #323232;
	  text-indent: 12px;
  }
  
  .dates-types li a:hover {
	  color: #d93131;
  }
  
  .dates-types li a.nor-rep {
	  background-image: url(../images/nor-rep.gif);
	  background-repeat: repeat-x;
	  padding-right:10px;
	  *width:65px;
  }
  
  .dates-types li a.nor-left {
	  background-image: url(../images/nor-left.gif);
	  background-repeat: repeat-x;
	  width: 65px;
	  height: 31px;
  }
  
  .dates-types li a.nor-right {
	  background-image: url(../images/nor-right.gif);
	  background-repeat: repeat-x;
	  width: 65px;
	  height: 31px;
  }
  
  .dates-types li a.sel-rep {
	  background-image: url(../images/sel-rep.gif);
	  background-repeat: repeat-x;
	  color: #ffffff;
	  padding-right:10px;
	  *width:65px;
  }
  
  .dates-types li a.sel-left {
	  background-image: url(../images/sel-left.gif);
	  background-repeat: repeat-x;
	  width: 65px;
	  height: 31px;
	  color: #ffffff;
  }
  
  .dates-types li a.sel-right {
	  background-image: url(../images/sel-right.gif);
	  background-repeat: repeat-x;
	  width: 65px;
	  height: 31px;
	  color: #ffffff;
  }
  
  .dates-slection-opts {
	  background-color: #cccccc;
	  padding: 5px;
  }
  
  .dates-selection-Box {
	  float: right;
	  width: 452px;
	  border: solid 1px #c1c1c1;
	  padding:10px;
	  background:#F7F7F7 none repeat scroll 0 0;
	  opacity:0;
  }
  
  h3.date-special {
	  font-size: 14px;
	  color: #2c5e73;
	  padding-left: 5px;
  }
  
  .selectedTime {
	  color: #2c5e73;
  }
  
  .time-header {
	  border: solid 1px #c1c1c1;
	  line-height:20px;
	  float:right;
	  padding:3px;
	  text-align:right;
	  color: #2c5e73;
  }
  
  .dates {
	  float: right;
  }
  
  .timeBox-main ul li{
	  width:20px;
	  height:20px;
	  display:block;
	  border-right:solid 1px #7699b3;
	  border-bottom:solid 1px #7699b3;
	  color:#6b9bb8;
	  float:left;
	  text-align:center;
	  line-height:20px;
	  cursor:pointer;
	  background-color:#ffffff;
  }
  .timeBox-main ul li:hover{
	 background-color:#426fd9;
	  color:black;
	  /*border:dotted 1px #ffffff;*/
  }
  .timeBox-main ul li.selected{
	  background-color:#B3D4FF;
  }
  .timeBox-main ul{
	  padding:0px;
	  margin:0px;
	  list-style-type:none;
  }
  .timeBox-main{
	  height:159px;
	  width:439px;
	  color:#606060;
	  font-size:11px;
	  overflow:hidden;
	  text-align:center;
	  float:left;
  background-color:#F2F2F2;
  border:1px solid #808080;
	  padding:5px;
  }
  .navButtons{
	 height:25px;
  }
  .navButtons a.left{
	 float:left;
	  cursor:pointer;
  }
  .navButtons a.right{
	 float:right;
	  cursor:pointer;
  }
  .timeBox-sub{
	  float:left;
	  width:140px;
  }
  .date-title{
	  font-weight:bold;
  }
  .timeBox-Wrapper{
		 border-left:solid 1px #7699b3;
	  border-top:solid 1px #7699b3;
	  height:84px;
	  width:126px
  }
  #tabContainer
	  {
		  width: 520px;
	  }
  /*Month boxes*/
  .monthBox-main ul li{
	  width:40px;
	  height:20px;
	  display:block;
	  border-right:solid 1px #7699b3;
	  border-bottom:solid 1px #7699b3;
	  color:#6b9bb8;
	  float:left;
	  text-align:center;
	  line-height:20px;
	  cursor:pointer;
	  background-color:#ffffff;
  }
  .monthBox-main ul li:hover{
	 background-color:#426fd9;
	  color:black;
	  /*border:dotted 1px #ffffff;*/
  }
  .monthBox-main ul li.selected{
	  background-color:#B3D4FF;
  }
  .monthBox-main ul{
	  padding:0px;
	  margin:0px;
	  list-style-type:none;
  }
  .monthBox-main{
	  height:159px;
	  width:439px;
	  color:#606060;
	  font-size:11px;
	  overflow:hidden;
	  text-align:center;
	  float:left;
  background-color:#F2F2F2;
  border:1px solid #808080;
	  padding:5px;
  }
  .monthBox-sub{
	  float:left;
	  width:190px;
	  margin-left:20px;
  }
  .monthBox-Wrapper{
		 border-left:solid 1px #7699b3;
	  border-top:solid 1px #7699b3;
	  height:63px;
	  width:165px
  }
  .chart_title {
	  display: block;
	  font-size: 1.2em;
	  font-weight: bold;
	  margin-bottom: 0.4em;
  }
  .yui-skin-sam .yui-calendar{
	  font-size:75% !important;
  }
  }
  .yui-content {
	  background-color:#ffffff !important;
  }
  .hourStrong{
	  font-weight:bold;
  }
  .treeBox{
	  width:250px;
  }
  /*Tree styles*/
  
  .vertical-line {
  
	  background-image: url( ../images/line.png );
	  background-repeat: repeat-y;
	  background-position: 10px 0px;
  
  }
  
  .vertical-line-alone {
  
	  background-image: url( ../images/line.png );
	  background-repeat: repeat-y;
	  background-position: 10.5px 0px;
	  margin-top: 5px;
	  height: 20px;
  
  }
  
  ul {
	  list-style-type: none;
	  padding: 0px;
	  margin: 0px;
  }
  
  .treePane {
	  padding-left: 10px;
	  padding-top: 10px;
  }
  
  .child-list {
	  padding-left: 30px;
  }
  
  .child-list li {
	  text-align: left;
  }
  
  .branch-node {
	  background-image: url( ../images/line-branch.png );
	  background-repeat: no-repeat;
	  background-position: 0px 0px;
	  height:20px;
	  margin-left:40px;
  }
  
  .mediators {
	  background-image: url( ../images/treeright.gif );
	  background-repeat: no-repeat;
	  background-position:right top;
	  padding:5px;
	  margin-top: -1px;
	  *margin-top: -15px;
	  margin-left: 25px;
	  vertical-align: middle;
	  height:23px;
  }
  .level1 a{
	  font-size:14px;
	  color:#ffffff !important;
  }
  .level2 a{
	  font-size:12px;
  }
  .level3 a{
	  font-size:11px;
  }
  .mediators a{
	  cursor: pointer;
	  background-repeat: no-repeat;
	  background-position: 0px 0px;
	  display:block;
	  text-indent: 15px;
	  color:#000000;
	  height:23px;
  }
  
  .alone-icon {
	  background-image: url( ../images/icon-tree-alone.jpg );
	  background-repeat: no-repeat;
	  background-position: 0px 0px;
	  position: absolute;
	  width: 20px;
	  height: 12px;
	  z-index: 100;
	  cursor: pointer;
	  margin-left:5px;
	  *margin-left:0px;
	  *margin-left:-21px;
	  margin-top:0px;
  
  }
  .minus-icon {
	  background-image: url( ../images/icon-tree-minus.jpg );
	  background-repeat: no-repeat;
	  background-position: 0px 0px;
	  position: absolute;
	  width: 20px;
	  height: 12px;
	  z-index: 100;
	  cursor: pointer;
	  margin-left:5px;
	  *margin-left:-21px;
	  margin-top:0px;
  }
  
  .plus-icon {
	  background-image: url( ../images/icon-tree-plus-alone.jpg );
	  background-repeat: no-repeat;
	  background-position: 0px 0px;
	  position: absolute;
	  width: 20px;
	  height: 13px;
	  z-index: 100;
	  cursor: pointer;
	   margin-left:5px;
	  *margin-left:-21px;
	   margin-top:0px;
  }
  
  
  
  .empty-brake{
	  height:10px;
  }
  #chart
	  {
		  width: 500px;
		  height: 350px;
	  }
  
	  .chart_title
	  {
		  display: block;
		  font-size: 1.2em;
		  font-weight: bold;
		  margin-bottom: 0.4em;
	  }
  #chartlinecount{
	 *width: 500px;
	 *height: 350px;
  }
  #chartlinetime{
	 *width: 500px;
	 *height: 350px;
  }
  #chartbarcount{
	 *width: 500px;
	 *height: 350px;
  }
  #chartbartime{
	 *width: 500px;
	 *height: 350px;
  }
  #chartcolumncount{
	 *width: 500px;
	 *height: 350px;
  }
  #chartcolumntime{
	 *width: 500px;
	 *height: 350px;
  }
  .in, .out{
	  width:100px;
	  font-size:11px;
  }
  
  .dashboard_intro {
	  margin-bottom: 1em;
	  background: #666666 none repeat scroll 0 0;
	  color: #FFFFFF;
	  float: left;
	  position: relative;
	  width: 100%;
	  margin: 0 0 1em;
  }
  .dashboard_sub {
	  margin-bottom: 1em;
	  background: #999999 none repeat scroll 0 0;
	  color: #FFFFFF;
	  float: left;
	  position: relative;
	  width: 100%;
	  margin: 0 0 1em;
  }
  .rounder {
	  border-left: 1px solid white;
	  border-right: 1px solid white;
	  height: 1px;
	  color: #FFFFFF;
	  border-collapse: collapse;
	  font-size: 92.8%;
  }
  
  .dashboard_intro_h2 {
	  font-size: 120%;
	  font-weight: bold;
	  text-indent: 10px;
	  padding-top: 5px;
	  padding-bottom: 5px;
	  border: 0 none;
	  margin: 0;
	  padding: 0;
	  color: #FFFFFF;
	  border-collapse: collapse;
  }
  .dashboard_sub_h2 {
	 font-size:100%; 
  }
  .dashboard_content{
	  border:solid 1px #cccccc;
	  padding-bottom:50px;
	  margin-bottom:10px;
  }
  .loadingPosition{
	  margin-top:30px;
	  margin-left:50px;
  }
  
.dateBox-main {
	float:right;	
}

