<div class="row">
    <div id="1" class="col-sm-3 ues-component-box"></div>
    <div id="2" class="col-sm-6 ues-component-box"></div>
    <div id="3" class="col-sm-3 ues-component-box"></div>
    <div id="4" class="col-sm-4 ues-component-box"></div>
    <div id="5" class="col-sm-4 ues-component-box"></div>
    <div id="6" class="col-sm-4 ues-component-box"></div>
    <div id="7" class="col-sm-6 ues-component-box"></div>
    <div id="8" class="col-sm-6 ues-component-box"></div>
</div>
