<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width'>
    <title>WSO2 Stream Processor</title>
    <link rel="stylesheet" type="text/css"
          href="{{@contextPath}}/public/app/js/libs/font-wso2_1.0.0/css/font-wso2.min.css">
    <link rel="shortcut icon" href="{{@contextPath}}/public/app/resources/favicon.ico">
    <style>
        * {
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        }

        body {
            padding: 0;
            margin: 0;
        }

        header {
            background-color: #000;
            height: 54px;
            color: #fff;
        }

        header img {
            float: left;
            margin-right: 10px;
            padding-top: 15px;
            padding-left: 10px;
        }

        header h1 {
            padding: 0;
            margin: 0;
            font-size: 24px;
            line-height: 54px;
            font-weight: normal;
        }

        .main-content {
            padding: 15px;
        }

        .main-content h1 {
            padding: 0;
            margin: 0;
            font-size: 28px;
        }
    </style>
</head>
<body style="overflow: auto !important;">
<div>
    <header>
        <img src="{{@contextPath}}/public/app/images/wso2-logo.svg" height="24" />
        <h1>WSO2 Stream Processor</h1>
    </header>

    <section class="main-content">
            <h1>Privacy Policy</h1>
            <p>Under construction</p>
    </section>
</div>
</body>
</html>
