/**
 * left navbar styles
 */
#left .navbar {
    border-radius: 0;
    border: none;
}

#left .navbar li a {
    font-size: 17px;
    font-weight: 700;
    line-height: 23px;
}

#left .navbar-collapse {
    padding: 0;
}

#left .navbar-nav {
    float: none;
    margin: 0;
}

#left .navbar-nav > li {
    float: none;
}

#left .navbar-nav > li.active > a {

}

#left .nav-tabs {
    border: none;
}

#left .nav-tabs > li > a {
    border-radius: 0;
    margin: 0;
    padding: 18px 0;
    text-align: center;

}

#left .nav-tabs > li > a .fa {
    font-size: 40px;
    line-height: normal;
}

/**
 * tab panes
 */
#middle .tab-pane .ues-toolbar h2 {
    font-size: 32px;
    margin-top: 20px;
    padding-top: 10px;
}

/**
 * media queries
 */
@media (min-width: 768px) {

    #left {
        width: 74px;
        position: fixed;
        height: 100%;
    }

    #middle {
        margin-left: 74px;
        padding-top: 10px;
    }

    #designer .ues-properties {
        padding-left: 0;
        margin-top: 10px;
    }

    #left .ues-left-menu {
        height: 100%;
    }
}

/**
 * thumbnail styles
 */
.thumbnail {
    padding-top: 10px;
    border-radius: 0;
}

.thumbnail h3 {
    margin: 0;
    font-size: 18px;
}

/**
 * component styles
 */
#middle > .tab-pane > .ues-toolbar {
    margin-bottom: 10px;
    height: 34px;
}

.ues-component-box {
    min-height: 300px;
    border: 1px dashed #cccccc;
}

.ues-component {
    position: relative;
}

.ues-component.ui-draggable-dragging {
    width: 50px;
    height: 50px;
}

.ues-component .ues-toolbar {
    height: 50px;
    width: 100%;
    position: absolute;
    padding-top: 8px;
    padding-right: 8px;
}

.ues-component-properties label {
    display: block;
}

#middle .ues-toolbar .pull-right {
    margin-left: 4px;
}

.ues-settings .ues-shared-view,
.ues-settings .ues-shared-edit {
    margin-top: 10px;
}

.twitter-typeahead {
    width: 100%;
}

.tt-input,
.tt-hint {
    width: 396px;
    height: 34px;
    padding: 8px 11px;
    line-height: 34px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.tt-input {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {
    width: 422px;
    margin-top: 12px;
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.tt-suggestion {
    padding: 3px 11px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}