<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="BAM-features-test-suite">
    <parameter name="useDefaultListeners" value="false"/>

    <test name="bam-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.bam.integration.tests.restservice.analytics"/>
            <package name="org.wso2.bam.integration.tests.analytics.execution"/>
        </packages>
    </test>


</suite>
