<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="DAS-features-test-suite">
    <parameter name="useDefaultListeners" value="false"/>

    <test name="das-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.das.integration.tests.capp"/>
            <package name="org.wso2.das.integration.tests.activity.dashboard"/>
            <package name="org.wso2.das.integration.tests.restservice.analytics"/>
            <package name="org.wso2.das.integration.tests.analytics.execution"/>
            <package name="org.wso2.das.integration.tests.analyticsapi"/>
            <package name="org.wso2.das.integration.tests.eventstreampersist"/>
            <package name="org.wso2.das.integration.tests.messageconsole"/>
            <package name="org.wso2.das.integration.tests.analytics.webservice"/>
        </packages>
    </test>

    <test name="remote-api-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.das.integration.tests.remoteapi"/>
            <package name="org.wso2.das.integration.tests.analyticsapi"/>
        </packages>
    </test>
</suite>
